#cover{
	height: 120px;
	background-color: white;
	width: 100%;
	border: 1px white solid;
	z-index: 9999;
	margin-top: -10px;
}
.bang{
	height: 15px;
	width: 100px;
	margin-left: 70px;
	float: left;
	font-size: 15px;
	margin-top: 0px;
	color: grey;
}
.aa{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 15px;
}
.cc{
    text-decoration:none;
    width: 60px;
     height: 12px;
     color: grey;
     font-size: 12px;
     float: left;
     margin-top: 5px;
     margin-left: 25px;
}
.bb{
    text-decoration: none;
    width: 30px;
    height: 12px;
    color: grey;
    font-size: 12px;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
}
.zz{
    text-decoration: none;
    width: 53px;
    height: 14px;
    color: red;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
}
.n{
    width: 600px;
    height: 20px;
    float: left;
    margin-top: 6px;
    margin-left: 220px;
    color: grey
}
.kk{
    width: 85px;
    height: 40px;
    float: left;
    border: 1px grey solid;
}
.ab{
    float: left;
    width: 170px;
    height: 50px;
    margin-left: 70px;
    background-color: red;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 50px
}
.floats{
        margin-top: 2px;
        display: block;
        float: left;
        margin-left: 200px;
       
}
.newfloat{
        margin-top: 2px;
        display: block;
        float: left;
        margin-left: 120px;
}
.floatdiv{
    
   
    overflow: hidden;
}

.xx{
    width: 80px;
    height: 127px;
    float: left;
    margin-left: 70px;
    margin-top: 2px;
    list-style: none
}
.cz{
    width: 80px;
    height: 127px;
    float: left;
    margin-left: 40px;
    margin-top: 2px;
    list-style: none
}
.llm{
    color: grey;
    width: 1300px;
    height: 20px;
    font-size: 14px;
    margin-left: 150px;
    margin-top: 5px;
}
.lo{
    color: grey;
    height: 20px;
    width: 800px;
    margin-left: 450px;
    font-size: 14px;
    margin-top: 5px;
}
.xm{
    width: 210px;
    height: 40px;
    background-color: white;
    font-size: 16px;
    color: red;
    line-height: 40px;
    text-align: center;
}
.ss{
    width: 170px;
    height: 41px;
    margin: 0px 0px 0px 0px;
    float: left;
    color: grey;
    text-align: center;
    font-size: 12px;
    line-height: 41px;
}
.ba{
    width: 500px;
    height: 41px;
    float: left;
    margin-left: 100px;
}
.hot li{
	float: left;
	list-style: none;
	width: 120px;
	height: 50px;
	display: block;
}
.hot li a{
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: black;
}
.hot li a:hover{
	color: grey;
}

.longlist li{
	width: 36px;
	height: 32px;
	list-style: none;
	font-size: 10px;
	line-height: 30px;
	text-align: center;
}
.longlist ul{
	width: 36px;
	height: 425px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 9px;
	padding: 0px 0px 0px 0px;
	float: left;
}


/*轮播*/
	
.box {
    width: 810px;
    height: 346px;
    border: 1px solid #ccc;
}
.inner{
    width: 810px;
    height: 362px;
    position: relative;
    overflow: hidden;
    margin-top: -16px;
}
.inner img{
    width: 810px;
    height: 361px;
 
}
.lun{
	left: -40px;
}
ul {
    width: 1000%;
    position: relative;
    list-style: none;
    left: 0;
    top: 0;
}
.inner li{
    float: left;
}

ol {
    position: absolute;
    height: 20px;
    right: 20px;
    bottom: 20px;
    text-align: center;
    padding: 0px;
    margin-right: 300px;
}
ol li{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: white;
    margin: 1px;
    cursor: pointer;
		border-radius: 10px;
		margin-left: 8px;
}
li.current{
    background-color: red;
}
#arr{
    display: none;
}
#arr span{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: red;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: '黑体';
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    border: 1px solid #fff;
}
#arr #right {
    right: 5px;
    left: auto;
}

/*轮播*/



/*滚动条*/
      #scroll-box{
        width: 210px;
        height: 310px;
        overflow:hidden;
      }
      #scroll-box ul{margin: 0}
      #scroll-box  li{
        color: red;
        list-style: none;
        font-size: 14px;
        line-height: 20px;
        height: 30px;
        margin-left: -20px;
      }








.list li{
	font-size: 13px;
	margin-left: -10px;
	margin-top: 5px;
}
.list li a{
	text-decoration: none;
	color: grey;
}
.bottom li{
	font-size: 15px;
	float: left;
	list-style: none;
	color: black;
}
.bottom li a{
	text-decoration: none;
	color: black;
}